body{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;

}

.post{
    cursor: pointer;
    position: relative; 
    display: block;  
    width: 200px; 
}

.post-img{
    margin: 0px;
}

.post-img img {
  width: 100%;
  vertical-align: top;
}

.post-overlay { 
 background: rgba(0, 0, 0, 0.4);
 position: absolute;
 left: 0;
 right: 0;
 bottom: 0;
 top: 0;
 display: none;
 align-items: center;
 justify-content: center;
 color: white;
}

.post:hover .post-overlay {
    display: flex;
}

.post-like,
.post-comments {
    width: 80px;
    margin: 5px;
    font-weight: bold;
    text-align: center;
    display: inline-block;
}